
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "baloo 2", cursive;
}
     
   

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem 18rem ;
    padding: 40px 47px;
    box-shadow: 10px 10px 18px -8px #aaaaaa, -10px -10px 24px #ffffff;
    border-radius: 20px;
    height: 600px;
    width: 800px;
}

body{
    background-color: #e8f3e8;
}
.container img{
    height: 100%;
    align-items: left;
    width: auto;
    border-radius:20px;
}
.about_details{
    margin: 0 45px;
}
.about_details span{
    color: red;
    margin-top:10px;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background:linear-gradient(to left,rgb(240, 11, 11),rgb(247, 194, 0),white,rgb(158, 222, 9),rgb(16, 239, 217));    
}
.about_details{
    font-family: "Potta One";
}
h1 {
    margin-top:1px;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background:linear-gradient(to left,rgb(240, 11, 11),rgb(247, 194, 0),white,rgb(158, 222, 9),rgb(16, 239, 217));;
  }
h1:before, h1:after {
    color:white;
    content:'';
    font-size: 12em;
    flex:1;
    border-bottom:groove 2px;
    margin:auto 0.25em;
    box-shadow: 0 -1px ;/* ou 0 1px si border-style:ridge */
  }
